
@{
    ViewBag.Title = "Tutors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BuffET Tutors</h2>

<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <img src="" class="profile_img" alt="Profile Picture"/>
    </div>
    <div class="col-md-7">
        Description.
    </div>
</div>